---
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="award" />
      <Heading text="All" textGradient="Competitions" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
      </ol>
    </div>
  </div>
</section>
