---
import Layout from "../../../layouts/Layout.astro";
import Languages from "../../../components/blog/Languages.astro";
import Heading from "../../../components/ui/Heading.astro";
import { Icon } from "astro-icon/components";
import type { MarkdownInstance } from 'astro';

interface Frontmatter {
    languages: string[];
    title: string;
    pubDate: string;
    tags: string[];
    image: unknown;
}

const pageTitle = "Technologies";
const postModules = import.meta.glob<MarkdownInstance<Frontmatter>>("../posts/*.md", { eager: true });
const allPosts: MarkdownInstance<Frontmatter>[] = Object.values(postModules);
const languages = [
    ...new Set(allPosts.map((post) => post.frontmatter.languages).flat()),
];
---

<Layout pageTitle={pageTitle}>
    <section class="py-8 px-8 max-sm:px-4">
        <div class="flex flex-col gap-6 max-w-3xl mx-auto">
            <div class="flex items-center gap-3 justify-center">
                <Icon name="code" class="size-5 text-mint-500" />
                <Heading text="Technologies" />
            </div>
            <Languages variant="vertical" languages={languages} />
        </div>
    </section>
</Layout>
